@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 400px;
}

.text {
  max-width: 900px;
  margin: 1em auto;
  padding: 1em;
  background-color: #fdfdff;
  border-radius: 0.5em;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
}

p {
  font-size: 18px;
}

h1 {
  margin: 20px;
}

.box {
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 22px 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

@media (max-width: 700px) {
  .text {
    margin: 0 auto;
    width: auto;
  }
}
